<h1>{{title}}</h1>
<a href="/">Back to Home</a>
<div class="form-con">
    <form action="/" method="POST">
        <div class="form">
            <label for="user">User:</label>
            <input type="text" name="user">
        </div>
        <div class="form">
            <label for="text">Text:</label>
            <input type="text" name="text">
        </div>
        <button class="form" type="submit">Add Message</button>
    </form>
</div>