body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aquamarine;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: large;
  color: black;
  margin-left: 50px;
}

.container {
  background-color: rgb(243, 240, 240);
  padding: 1px;
  margin: 10px 300px;
  text-align: center;
}

.form-con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form {
  padding: 15px;
  text-align: center;
}

.form input {
  width: 300px;
  height: 20px;
}

button {
  margin: 10px 650px;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 10px 200px;
  }
}
